html {
  font-size: 14px;
  background-color: #6bb17c;
  color: white;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        background-color: #6bb17c;
    }
}

html {
    position: relative;
    min-height: 100%;
    background-color: #6bb17c;
}

body {
    margin-bottom: 60px;
    background-color: #6bb17c;
    color: white;
}

.rodape {
    color: white;
}

.menu {
    background-color: #6bb17c;
    color: white;
}

#tabela {
    width: 80%;
}

#formulario {
    width: 80%;
    border: solid 2px green;
    padding: 30px;
}